@import "modifiers";
@import "mobile";
*,
 :after,
 ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

section {
    min-height: 100vh;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
}